<!DOCTYPE html>

<html>
    <head>
        <title>ABOUT</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>headers}}
            <img class="profile" src="/images/L.jpg" alt="My Pic">
        </div>
        
        {{>footers}}
    </body>
</html>