<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PAGE NOT FOUND!</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>headers}}
            <p>{{error}}</p>
        </div>
        
        {{>footers}}
    </body>
</html>