<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HELP!</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>headers}}
            <p class="normalText">{{mssg}}</p>
        </div>

        {{>footers}}
    </body>
</html>