<!DOCTYPE html>

<html>
    <head>
        <title>HELP!</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>headers}}
            <p>{{mssg}}</p>
        </div>

        {{>footers}}
    </body>
</html>